

.privacy-policy-checkbox {
  display: block;
  position: relative;
  padding-left: 1rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  height: 2rem;
  width: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.privacy-policy-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #be9861 18.58%, #f1e1b8 97.36%) border-box;
  border: 2px solid transparent;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.privacy-policy-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.privacy-policy-checkbox input:checked ~ .checkmark {
  /* background-color: #2196f3; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.privacy-policy-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.privacy-policy-checkbox .checkmark:after {
  left: 5.5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #2a4759;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
